<set singular="{{ @model_name | snake_case }}" plural="{{ @name | snake_case }}" />
<form action="{{'{{@create_' . @model_name . '}}'}}" method="post">
<repeat group="{{ @model->schema() }}" key="{{ @field_name }}" value="{{ @field }}">
    <check if="{{ @field['pkey'] }}">
        <true>{{ '<check if="{{ @' . @singular . '[' . @field_name . '] }}"><input type="hidden" name="' . @field_name . '" value="' . @field_name . '" ></check>' }}</true>
        <false>
            <label for="{{ @field_name }}">{{ @field_name ||  }}</label>
            <input type="{{ @field['pdo_type'] }}" name="{{ @field_name }}" value="' . @field_name . '" >
        </false>
    </check>
</repeat>
</form>